@model List<B12_UploadImageCart.Models.Cart>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2 class="text-center">@ViewBag.Title</h2>

<table class="table table-bordered">
    <tr>
        <th>#ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Tol. Price</th>
        <th>Delete ?</th>
    </tr>
    @{int i = 1; int totPrice = 0; }
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>@item.Product.Name</td>
            <td>
                @using (Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Get))
                {
                    <input type="number" value="@item.Quantity" name="quan" min="1" style="width: 70px;" />
                    <input type="hidden" name="proid" value="@item.ProId" />
                    <input type="submit" value="Update" class="btn btn-primary" />
                }
            </td>
            <td>
                @{ 
                    int Price = item.Quantity * item.Product.Price;
                    totPrice += Price;
                    i++;
                }
                @Price.ToString("N0") VNĐ
            </td>
            <td>
                <a href="/Cart/Delete/@item.ProId">Xóa sản phẩm</a>
            </td>
        </tr>
    }
    <tr>
        <td colspan="3" class="text-center fw-bold">Tổng tiền</td>
        <td colspan="2" class="text-center fw-bold">@totPrice.ToString("N0") VNĐ</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Tiếp tục mua hàng", "Index", "Product")
</p>