@model List<B12_UploadImageCart.Models.Product>
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/_LayoutPage.cshtml";
    var UserName = Context.Request.Cookies["auth"];
    var Role = Context.Request.Cookies["role"];
}

<h2>@ViewBag.Title</h2>

<h3>
    Xin chào 
    @if (UserName == null)
    {
        <span>Khách viếng thăm. Hãy <a href="/User/Login">đăng nhập</a></span>
    }
    else
    {
        <span>@UserName.Value <a href="/User/Logout">Đăng xuất</a></span>
    }
</h3>

<table class="table table-bordered">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (@item.Image != "")
                {
                    <img src="~/Images/@item.Image" width="100px" />
                }
                else
                {
                    <img src="~/Images/noimage.jpg" width="100px" />
                }
            </td>
            <td>
                <a href="/Product/Detail/@item.ProId">@Html.DisplayFor(model => item.Name)</a>

                @*@Html.RouteLink(@Html.DisplayFor(model => item.Name).ToString(), new {Controller = "Product", Action = "Detail", id = item.ProId })*@
            </td>
            <td>@Html.DisplayFor(model => item.Description)</td>
            <td>@Html.DisplayFor(model => item.Price) VNĐ</td>
        </tr>
    }
</table>