@model B10_HTMLHelpers.Models.Employee
@{
    ViewBag.Title = "Thêm nhân viên mới";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="text-center">@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Employees", FormMethod.Post))
{
    <div class="row my-2">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.Name, "Tên nhân viên")
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.City, "Quê quán")
            @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.City)
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.Age, "Tuổi nhân viên")
            @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Age)
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.Gender, "Giới tính")
            @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>()
               {
                   new SelectListItem() {Text = "Nam", Value = "Nam"},
                   new SelectListItem() {Text = "Nữ", Value = "Nữ"}
               }, "Chọn Giới tính", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            @Html.LabelFor(model => model.DepID, "Phòng Ban")
            @Html.DropDownListFor(model => model.DepID, new SelectList(ViewBag.Departments, "DepId", "Name"), "Chọn phòng ban", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepID)
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <input type="submit" value="Thêm Nhân Viên" class="btn btn-primary" />
            <br />@Html.ValidationSummary()
        </div>
        
    </div>
}
