@model List<B10_HTMLHelpers.Models.Employee>
@{
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Employees", FormMethod.Get, new { id = "myform"}))
{
    <p>
        @Html.DropDownList("sortOrder", new SelectList(
            new List<SelectListItem>
            {
                new SelectListItem { Text = "Sắp xếp theo City", Value = "City" },
                new SelectListItem { Text = "Sắp xếp theo Phòng ban", Value = "DepartmentName" },
                new SelectListItem { Text = "Sắp xếp theo ID", Value = "ID" }
            }, "Value", "Text"), "Chọn cách sắp xếp")
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>City</th>
        <th>Department Name</th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => employee.Id)</td>
            <td>@Html.DisplayFor(modelItem => employee.Name)</td>
            <td>@Html.DisplayFor(modelItem => employee.Gender)</td>
            <td>@Html.DisplayFor(modelItem => employee.City)</td>
            <td>@Html.DisplayFor(modelItem => employee.Department.Name)</td>
        </tr>
    }
</table>

@*<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>*@
<script>
    $(function () {
        $("#sortOrder").change(function () {
            $("form").submit();
        });
    });
</script>